.joinForm{
    max-width: 570px;
    margin: 10px 330px;
    background-color: whitesmoke;
}

.applyForm{
    margin: 10px;
}

.formTitle{
    margin: 10px;
}

.applyForm input{
    padding: 10px 200px 10px 5px;
    font-size: 15px;
}

.submitButton{
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #5964e0;
}

.submitButton:hover{
    background-color: #4e56c2;
}